body {
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.user_imag{
    border: #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title, .contact {
    color: #505050;
}

#title {
    font-size: 30px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 18px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}

.post {
    background: #FFF;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5%;
    text-transform: capitalize;
}

.post_content{
    margin: 0;
    margin-top: 15px;
    text-align: justify;
}

.post_imag{
    margin-top: 15px;
    width: 100%;

}

.contact_list{
    list-style-type: none;
    padding-left: 15px;    
}

.contact_list, li, a {
    text-decoration: none;
}